asgiref==3.8.1
Brotli==1.1.0
dj-database-url==3.0.1
Django==5.0.14
et_xmlfile==2.0.0
gunicorn==23.0.0
mssql-django==1.5
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
psycopg2-binary==2.9.10
pyodbc==5.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
